body{
  background-color: #121212;
  height: 100vh;
}

.navbar{
  background-color: #1f1f1f;
}

.main-area{
  height: 80vh;
}

.custom-card{
  background-color: #1e1e1e;
  border-radius: 15px;
  width: 22rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.custom-btn{
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 8px 25px;
}

.custom-btn:hover{
  background-color: #0b5ed7;
}
